{% extends 'schedule/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<h3>
    <p>This is a Django project with a REST API built using Django REST Framework, 
        HTML templates with Jinja templating engine, CSS for styling, and auto-upload feature for static files.</p>
    <p> Learn about upcoming launches around the world on the website.
    <p> Stay up to date with launch events posted on this page along with space news and historic information about
        space.
    <P>  API
    <li>
        api/v1/rocket/ - get list of rockets
    </li>
    <li>
        api/v1/locations/ - get list of locations
    </li>
    <li>
        api/v1/agencies/ - get list of agencies 
    </li>
    </p>
</h3>
{% endblock %}
