{% extends 'schedule/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<h3>
    <p>This is a Django project with a REST API built using Django REST Framework, 
        HTML templates with Jinja templating engine, CSS for styling, and auto-upload feature for static files.</p>
    <p> Learn about upcoming launches around the world on the website.
    <p> Stay up to date with launch events posted on this page along with space news and historic information about
        space.
</h3>
{% endblock %}
