{% extends 'schedule/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<h3>
    <p>This is a Django project. In this project I used the following technologies:
        <li> Django REST Framework        </li>
        <li> Using third-party API from https://thespacedevs.com/llapi        </li>
        <li> HTML templates with Jinja templating engine                </li>
        <li> CSS for styling        </li> 
        <li> CI/CD script. The script automatically updates data on the server when sending data to GIT        </li>
        <li> Docker        </li>
        <li> PostgreSQL database        </li>

    </p>
    <p> <a href=https://maxbulgakov.pythonanywhere.com/next_launch/>Learn about upcoming launches </a>  around the world on the website.</p>
    <p> Use my <a href="https://maxbulgakov.pythonanywhere.com/convert_text/">application</a>  to convert Latin characters to Cyrillic
         when you forgot to switch the layout or the Ukrainian, Russian language is not inserted on your computer. </p>
    <br>
    <p>  My API is based on the Django REST framework admin: 
    <li>
        <a href="https://maxbulgakov.pythonanywhere.com/api/v1/rocket/ ">- get list of rockets</a>  
    </li>
    <li>
        <a href="https://maxbulgakov.pythonanywhere.com/api/v1/locations/ ">- get list of locations</a>  
    </li>
    <li>
        <a href="https://maxbulgakov.pythonanywhere.com/api/v1/agencies/ ">- get list of agencies</a> 
    </li>
    </p>
</h3>
{% endblock %}
